
/** METRO UI **/
@import 'iconFont.less';
@import 'button.less';
@import 'tabControl.less';
@import 'datatable.less';


/** BASE **/
.clear{ 
  clear:both; 
}

.inner{
  margin:0 auto;
  max-width:1200px;
}

.scroll{
  overflow-y: auto;
}


/** ALINHAMENTO **/
.fl,
.f-left{
  float:left;
}

.fr,
.f-right{
  float:right;
}

.separator{
  background: #ccc;
  height: 1px;
  margin: 20px auto;
  width: 98%;
}

.text-center{
  text-align:center;
}

.space1{
  margin-right:10px;
}


/** FORMATAÇÃO **/
.bold,
.bolder{
  font-weight:bold;	
}

.capitalized{
  text-transform:capitalize;
}

.uppercase{
  text-transform:uppercase;
}


/** MODAIS **/
.close-modal{
  background: url('@{url-assets}/img/close.png') no-repeat 0 0;
  display: block;
  height: 30px;
  position: absolute;
  right: -12.5px;
  text-indent: -9999px;
  top: -12.5px;
  width: 30px;
}

.modal-container{
  display: none;
  min-height: 10px;
  min-width: 10px;
}

.modal-content{
  background: #fff;
  font-size: 1.2em;
  padding: 25px;
  width: 850px;
}










/** MISCELANEA**/
//  NOTIFICATIONS o/
.notify-container{
  left: 0;
  margin: 0 auto;
  max-width: 60%;
  min-width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1060;

  .notify{
    padding: 10px;

    .content{
      font-size: 14px;
      line-height: 16px;
      margin: 0px; /* A classe content global possui margens */
      min-height: 0px; /* A classe content global possui min-height de 480px */
      text-align: center;
    }

    .caption{
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}




















/** MERDAS **/
.button25{
  background:url('@{url-assets}/img/sprite_buttons_25.png') no-repeat;
  .button(25px);
}

.btn4{
  background:url('@{url-assets}/img/sprite_buttons_40.png') no-repeat;
  .button(40px);
}


::-webkit-input-placeholder {
}

:-moz-placeholder {
}

::-moz-placeholder {
}

:-ms-input-placeholder {  

}


#floatingBarsG{
  position:relative;
  width: 64px;
  height: 80px;
}

.blockG{
  position:absolute;
  background-color:#FFFFFF;
  width:10px;
  height:25px;
  -moz-border-radius:9px 9px 0 0;
  -moz-transform:scale(0.4);
  -moz-animation-name:fadeG;
  -moz-animation-duration:1.28s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -webkit-border-radius:9px 9px 0 0;
  -webkit-transform:scale(0.4);
  -webkit-animation-name:fadeG;
  -webkit-animation-duration:1.28s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -ms-border-radius:9px 9px 0 0;
  -ms-transform:scale(0.4);
  -ms-animation-name:fadeG;
  -ms-animation-duration:1.28s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -o-border-radius:9px 9px 0 0;
  -o-transform:scale(0.4);
  -o-animation-name:fadeG;
  -o-animation-duration:1.28s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  border-radius:9px 9px 0 0;
  transform:scale(0.4);
  animation-name:fadeG;
  animation-duration:1.28s;
  animation-iteration-count:infinite;
  animation-direction:linear;
}

#rotateG_01{
  left:0;
  top:29px;
  -moz-animation-delay:0.4800000000000001s;
  -moz-transform:rotate(-90deg);
  -webkit-animation-delay:0.4800000000000001s;
  -webkit-transform:rotate(-90deg);
  -ms-animation-delay:0.4800000000000001s;
  -ms-transform:rotate(-90deg);
  -o-animation-delay:0.4800000000000001s;
  -o-transform:rotate(-90deg);
  animation-delay:0.4800000000000001s;
  transform:rotate(-90deg);
}

#rotateG_02{
  left:8px;
  top:10px;
  -moz-animation-delay:0.64s;
  -moz-transform:rotate(-45deg);
  -webkit-animation-delay:0.64s;
  -webkit-transform:rotate(-45deg);
  -ms-animation-delay:0.64s;
  -ms-transform:rotate(-45deg);
  -o-animation-delay:0.64s;
  -o-transform:rotate(-45deg);
  animation-delay:0.64s;
  transform:rotate(-45deg);
}

#rotateG_03{
  left:27px;
  top:3px;
  -moz-animation-delay:0.8s;
  -moz-transform:rotate(0deg);
  -webkit-animation-delay:0.8s;
  -webkit-transform:rotate(0deg);
  -ms-animation-delay:0.8s;
  -ms-transform:rotate(0deg);
  -o-animation-delay:0.8s;
  -o-transform:rotate(0deg);
  animation-delay:0.8s;
  transform:rotate(0deg);
}

#rotateG_04{
  right:8px;
  top:10px;
  -moz-animation-delay:0.9600000000000002s;
  -moz-transform:rotate(45deg);
  -webkit-animation-delay:0.9600000000000002s;
  -webkit-transform:rotate(45deg);
  -ms-animation-delay:0.9600000000000002s;
  -ms-transform:rotate(45deg);
  -o-animation-delay:0.9600000000000002s;
  -o-transform:rotate(45deg);
  animation-delay:0.9600000000000002s;
  transform:rotate(45deg);
}

#rotateG_05{
  right:0;
  top:29px;
  -moz-animation-delay:1.12s;
  -moz-transform:rotate(90deg);
  -webkit-animation-delay:1.12s;
  -webkit-transform:rotate(90deg);
  -ms-animation-delay:1.12s;
  -ms-transform:rotate(90deg);
  -o-animation-delay:1.12s;
  -o-transform:rotate(90deg);
  animation-delay:1.12s;
  transform:rotate(90deg);
  }

#rotateG_06{
  right:8px;
  bottom:7px;
  -moz-animation-delay:1.28s;
  -moz-transform:rotate(135deg);
  -webkit-animation-delay:1.28s;
  -webkit-transform:rotate(135deg);
  -ms-animation-delay:1.28s;
  -ms-transform:rotate(135deg);
  -o-animation-delay:1.28s;
  -o-transform:rotate(135deg);
  animation-delay:1.28s;
  transform:rotate(135deg);
}

#rotateG_07{
  bottom:0;
  left:27px;
  -moz-animation-delay:1.44s;
  -moz-transform:rotate(180deg);
  -webkit-animation-delay:1.44s;
  -webkit-transform:rotate(180deg);
  -ms-animation-delay:1.44s;
  -ms-transform:rotate(180deg);
  -o-animation-delay:1.44s;
  -o-transform:rotate(180deg);
  animation-delay:1.44s;
  transform:rotate(180deg);
}

#rotateG_08{
  left:8px;
  bottom:7px;
  -moz-animation-delay:1.6s;
  -moz-transform:rotate(-135deg);
  -webkit-animation-delay:1.6s;
  -webkit-transform:rotate(-135deg);
  -ms-animation-delay:1.6s;
  -ms-transform:rotate(-135deg);
  -o-animation-delay:1.6s;
  -o-transform:rotate(-135deg);
  animation-delay:1.6s;
  transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
  0%{
  background-color:#000000}

  100%{
  background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
  0%{
  background-color:#000000}

  100%{
  background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
  0%{
  background-color:#000000}

  100%{
  background-color:#FFFFFF}

}

@-o-keyframes fadeG{
  0%{
  background-color:#000000}

  100%{
  background-color:#FFFFFF}

}

@keyframes fadeG{
  0%{
  background-color:#000000}

  100%{
  background-color:#FFFFFF}

}
