

.button(@height,@width:@height){
	display:block;
	height:@height;
	width:@width;
}

.button_subtitled(@height){
	display:block;
	height:@height;
}

.search_on_sprite(@height,@width:@height){
	background-position:@width @height;
}