
@font-face{
	font-family: 'Segoe';
	font-weight: normal;
	src: url('@{url-assets}/fonts/segoe/segoeui.ttf') format('truetype');
}

@font-face{
	font-family: 'Segoe SVG';
	font-weight: normal;
	src: url('@{url-assets}/fonts/segoe/segoeui.svg') format('svg');
}

@font-face{
	font-family: 'Segoe SVG';
	font-weight: bold;
	src: url('@{url-assets}/fonts/segoe/segoeui.svg#bold') format('svg');
}

@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: local("Cambria"), local("PT Serif Caption"), local("PTSerif-Caption"), url(@{url-assets}/fonts/ptserifcaption/7xkFOeTxxO1GMC1suOUYWWhBabBbEjGd1iRmpyoZukE.woff) format('woff');
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(@{url-assets}/fonts/opensans/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(@{url-assets}/fonts/opensans/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("Open Sans Bold"), local("OpenSans-Bold"), url(@{url-assets}/fonts/opensans/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}