.button {
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
  background-color: #d9d9d9;
  border: 1px transparent solid;
  color: #222222;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: auto;
}
.button.default {
  background-color: #008287;
  color: #fff;
}
.button:focus {
  outline: 0;
  border: 1px #353535 dotted;
}
.button:disabled,
.button.disabled {
  background-color: #eaeaea !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}

.button.success {
  background-color: #60a917 !important;
  color: #ffffff !important;
}