
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typo.less';
@import '_helpers.less';


body {
  color: #062b43;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #062b43;
}

a:hover {
  text-decoration: none;
  color: #2093b5;
}

h1{
  color: #000000;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.00em;
  line-height: 2rem;
  padding: 0;
}

.clearfix {
  clear: both;
}

.flutua-esq {
  float: left;
}

.flutua-dir {
  float: right;
}

.sem-margem {
  margin-right: 0;
}

.interno {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.container-login {
  display: block;
  width: 100%;
}

.barra-usuario {
  border-bottom: #2093b5 6px solid;
  font-size: 75%;
  height: 35px;
}

.conteudo {
  background-image: url('@{url-assets}/img/bg_support.jpeg');
  background-position: center 30%;
  background-size: cover;
  height: 45%;
  padding: 10% 0 2% 0;
  width: 100%;
}

.caixa-login {
  width: 525px;
}

.cabecalho-caixa {
  background-color: #182933;
  filter: alpha(opacity=90);
  height: 100px;
  opacity: 0.9;
}

.cabecalho-caixa img {
  float: right;
  margin: 5.8% 5% 0 0;
  width: 60%;
}

.conteudo-caixa {
  background-color: #226a82;
  filter: alpha(opacity=60);
  min-height: 175px;
  margin-top: 0.1%;
  opacity: 0.6;
}

.cc-esquerda {
  margin: 7.5% 3.2% 0 0;
  width: 12%;
}

.cc-esquerda img {
  width: 100%;
}

.cc-esquerda p {
  color: #fff;
  font-size: 70%;
  margin-top: 15%;
}

.cc-direita {
  margin: 7.5% 8% 7% 0;
  width: 40%;
}

.cc-direita ::-webkit-input-placeholder {
  color: #fff;
}

.cc-direita input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 8%;
}

.cc-direita input.text {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  color: #fff;
  filter: alpha(opacity=100);
  height: 8%;
  margin: 0 0 2% 0;
  padding-right: 10px;
  text-align: right;
  width: 100%;
}

.cc-direita input.error {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #d10126;
  color: #fff;
  filter: alpha(opacity=100);
  height: 8%;
  margin: 0 0 2% 0;
  padding-right: 10px;
  text-align: right;
  width: 100%;
}

.cc-direita input.submit {
  border: none;
  background-color: #00121D;
  color: #fff;
  filter: alpha(opacity=90);
  margin-top: 2%;
  padding-right: 10px;
  text-align: right;
  width: 100%;
}

.new-procedure{
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;

  p{
    font-size: 1.1rem;
    margin-top: 15px;
  }
}


.rodape {
  font-size: 0.7em;
  margin: 30px auto 0 auto;
  width: 100%;
}

.rodape .interno {
  width: 71%;
}


.notify-container{
  left: 0;
  margin: 0 auto;
  width: 30% !important;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1060;

  .notify {
    padding: 10px;

    .content{
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }
  }
}