
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typo.less';
@import '_helpers.less';



//
body{
  /*color:#062b43;*/
  font-family:@font-family;
  font-size:0.625em;

}

a{
  color:#062b43;
  text-decoration:none;
}

a:hover{
  color:#2093b5;
  text-decoration:none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}

h1{
  color: #000000;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.00em;
  line-height: 2rem;
  padding: 0;
}


img{
  max-width: 100%;
}


// STRUCTURE
.user-data{
  border-bottom:#2093b5 7px solid;
  font-size:1.2em;
  height:35px;
}


.banner{
  background:url('@{url-assets}/img/coins.jpg') no-repeat center 0%;
  clear:both;
  height:10.5em;
  position:relative;
}

.header{
  background:#062b43;
  height:95px;
  opacity:.85;
  /*position:absolute;*/
  width:100%;
}

.baseline{
  background:#062b43;
  height:7px;
  margin-top:3px;
  opacity:0.6;
  /*position:absolute;*/
  width:100%;
}

.content{
  font-size:1.2em;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 480px;
}


.footer{
  font-size:1.2em;
  height:40px;
}


// NAVEGACAO
.btn-nav-sup{
  background: white;
  border-radius: 50%;
  color: #062b43;
  display: table-cell;
  font-size: 25px;
  height: 43px;
  text-align:center;
  vertical-align: middle;
  width: 43px;
}

// deprecar
.header-menu{
  .btn-me{ .search_on_sprite(0px, 0px); }
  .btn-me:hover{ .search_on_sprite(-159px,0px); }
  .btn-team{ .search_on_sprite(-80px,0px); }
  .btn-team:hover{ .search_on_sprite(-238px,0px); }
  .btn-report{ .search_on_sprite(-40px,0px); }
  .btn-report:hover{ .search_on_sprite(-198px,0px); }
  .btn-board{ .search_on_sprite(0px, 0px); }
  .btn-board:hover{ .search_on_sprite(0px); }
}




// HEADER
.user-data{
  .user-meta{
    margin:8px 8px 0 0;
  }

  .logout{
    margin:5px 0 0 0;
  }

  .btn-logout{
    background:url('@{url-assets}/img/sprite_buttons_25.png') no-repeat;
    .search_on_sprite(0px);
    .button(25px);
    padding-left:22px;
  }

  .descr-btn{
    margin:5px 0 0 0;
  }

  .btn-logout:hover{
    background:url('@{url-assets}/img/sprite_buttons_25.png') no-repeat;
    .search_on_sprite(-25px,0px);
    .button(25px);
  }
}
.header-logo{
  margin-top:25px;

  img{
    height:45px;
  }
}

.header-menu{
  margin-top: 30px;

  ul li{
    margin-right:5px;
  }
}

.header-breadcrumb{
  color:#fff;
  font-family:@font-family;
  font-size:150%;
  /*font-weight:bolder;*/
  margin:40px 15px 0 0;
}



// CONTENT
.user-info{
  h2{
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;

    span{
      font-weight:bold;
      vertical-align: bottom;
    }
  }
}

.userlist{
  margin-top: 20px;
}


// MODAIS
.reports{
  .employee-name{
    margin-bottom: 15px;
  }

  .problem-detail{
    margin-bottom: 15px;
  }

  .table-pomarola{
    margin-bottom: 15px;
  }

  .metadata li{
    margin-left: 5px;
  }

  .comment-area{
    height:160px;
    width:99%;
  }

  .actions{
    margin-top: 20px;
  }
}



.report-data{
  margin-bottom: 10px;

  h1{
    margin-bottom: 20px;
  }

  .description{
    margin-bottom: 20px;
  }

  .meta span{
    margin-right: 5px;
  }
}






// OUTRAS COISAS
.comparativo{
  width:70%;
  margin-left:auto;
  margin-right:auto;
  margin-top:25px;
  display: block;
}

.indicadores{
  width:45%;
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-top:25px;
  font-size:150%;
  text-align: center;

  ul li{
    display: inline;
    margin:15px;
    cursor: pointer;
    min-width: 150px;
  }

  ul li:hover{
    border-bottom: 1px solid #0A2D56;
    color: #0A2D56 
  }

  .active{
    border-bottom: 1px solid #2192b5;
    color: #2192b5;
  }
}

.kpi-description{
  
  cursor:pointer;

}

.kpi-description:hover{
  color:#6392A5;
}


// PDF VIEWER
.pdf-viewer{
  height: 600px;
  margin: 40px auto;
  width: 100%;
}




// MEDIA QUERIES
/*@import 'media_queries.less';*/
@media only screen and (max-width : 1024px){
  .inner{
    margin:0 auto;
    max-width: 960px;
  }


  .userlist{
    .table th,
    .table td {
      padding: 8px;
      font-size: 12px;
      line-height: 12pt;
      vertical-align: top;
      border-bottom: 1px #eaeaea solid;
    }
  }
}








.modal-content{

  width: 850px;


  .employee-name{
    margin-bottom: 15px;
  }
  
  .results-table{
    max-height: 280px;
    margin-bottom: 5px;
  }

  .table{
    width:100%;
  }
  
  .row{
    height:30px;
  }

  .row-content{
    padding: 5px;
  }

  .result-highlight{
    border: 1px solid red;
  }

  .results-0{
    background:#c5dbec;
  }
  .results-1{
    background:#d8e3f0;
  }
  .results-2{
    background:#eef2f9;
  }

  .rank-position{
    margin: -3px 0 0 5px;
  }

  .report-comments{
    margin-bottom: 20px;
    width:100%;

    .comment-area{
      height:160px;
      width:99%;
    }
  }
}


